:root {
  --pad-input: 6px 4px;
  --but-submit: 10px 4px;
}

@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("files/1.jpg");
  font-family: "Lato", sans-serif;
  color: #fff;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
  font-weight: 400;
  line-height: 1.4;
}

#title {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

#description {
  text-align: center;
  font-size: 20px;
}

#footer {
  background-color: #395b64;
  border-radius: 2px;
  padding: 10px 5px;
  margin: 5px auto;
}

#footer p {
  text-align: right;
  color: #fff;
}

#footer a {
  color: #fff;
}

@media (min-width: 650px) {
  #main {
    width: 50%;
    margin: auto;
  }

  .form {
    background-color: #000;
    border-radius: 5px;
    font-size: 1.125rem;
    margin: 50px auto 0 auto;
    padding: 50px;
    /*width: 95%;*/
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }
  .form-group label {
    /*font-weight: bold;*/
    margin-top: 10px;
  }

  .form-group input {
    font-size: 1.125rem;
    margin-top: 5px;
    padding: var(--pad-input);
  }

  .form-group select {
    padding: var(--pad-input);
  }

  p.ask-check {
    font-size: 1.125rem;
    padding: 0px;
    margin-bottom: 0px;
  }

  label[name="checks"] {
    margin-top: 3px;
    border: none;
  }

  input[type="checkbox"] {
    border: none;
  }

  .form-group textarea {
    padding: 10px;
    height: 50px;
  }

  .form-group button {
    background-color: green;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 10px;
    padding: var(--but-submit);
  }
}

@media (max-width: 650px) {
  #main {
    width: 100%;
  }

  .form {
    background-color: #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    margin: 40px auto 0 auto;
    padding: 20px;
    width: 80%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }

  .form-group input,
  select {
    padding: 6px 5px;
    margin-bottom: 7px;
  }

  .form-group textarea {
    padding: 5px 4px;
    height: 70px;
    margin-bottom: 7px;
  }
  #submit {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: green;
    font-size: 15px;
    padding: 10px 0;
  }
}

@media (max-width: 500px) {
  #main {
    width: 100%;
  }
  .form {
    background-color: #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    margin: 50px auto 0 auto;
    padding: 20px 0;
    width: 95%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }

  .form-group input,
  select {
    padding: 10px 5px;
    margin-bottom: 7px;
  }

  /*.form-group input,*/
  /*select {*/
  /*margin-bottom: 7px;*/
  /*}*/

  .form-group textarea {
    padding: 5px 4px;
    height: 70px;
    margin-bottom: 7px;
  }

  #submit {
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: green;
    font-size: 15px;
    padding: 10px 0;
  }
}
